html {
  font-family: "Ubuntu Condensed", sans-serif;
  background-image: url("../images/starfield.png");
}

h1, p {
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, .7);
}

.btn-ghost {
  border-color: #b4fff4;
  border-radius: 7px;
  transition: all 300ms ease;
}

.icon {
  transition: all 300ms ease;
}

.btn:hover,
.btn:focus {
  border-color: #90ccc3;
  background-color: rgba(180, 255, 244, .2);
}

.btn:hover .icon {
  transform: translate(0, -.4em);
}

.btn:active {
  transform: translate(0, .2em);
  top: 1em;
}

a {
  color: #b4fff4;
  text-decoration: none;
}

.header {
  padding-top: 17em;
}
